<div class="main-container">
	<header class="header-2">
		<div class="branding">
			<a class="nav-link">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">Clarity</span>
			</a>
		</div>
		<div class="header-nav">
			<a class="active nav-link nav-text">Home</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
      <p>This is just a proof of concept, not guaranteed to be a functional or usable pattern. Accessibility needs to be carefully considered in how this might work properly.</p>
			<clr-datagrid [(clrDgSelected)]="rowSelected">
        <clr-dg-column>Edit</clr-dg-column>
        <clr-dg-column>User ID</clr-dg-column>
        <clr-dg-column>First Name</clr-dg-column>
        <clr-dg-column>Last Name</clr-dg-column>
        <clr-dg-column>Email</clr-dg-column>
        <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
          <ng-container *ngIf="user.id === editUser?.id">
            <clr-dg-cell><button type="button" class="btn btn-sm" (click)="save(user)">Save</button></clr-dg-cell>
            <clr-dg-cell><input clrInput  name="id" /></clr-dg-cell>
            <clr-dg-cell><input clrInput  name="first_name" /></clr-dg-cell>
            <clr-dg-cell><input clrInput name="last_name" /></clr-dg-cell>
            <clr-dg-cell><input clrInput  name="email" /></clr-dg-cell>
          </ng-container>
          <ng-container *ngIf="editUser?.id !== user.id">
            <clr-dg-cell><button type="button" class="btn btn-sm" (click)="editUser = user">Edit</button></clr-dg-cell>
            <clr-dg-cell>{{user.id}}</clr-dg-cell>
            <clr-dg-cell>{{user.first_name}}</clr-dg-cell>
            <clr-dg-cell>{{user.last_name}}</clr-dg-cell>
            <clr-dg-cell>{{user.email}}</clr-dg-cell>
          </ng-container>
        </clr-dg-row>
        <clr-dg-footer>
          {{users.length}} users
          <clr-dg-pagination></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
		</div>
	</div>
</div>
